# This file configures your Netlify deploy
# Settings declared here override everything on Dashboard interface
# https://docs.netlify.com/configure-builds/file-based-configuration/
[build]
  command = "npm run build"
  functions = "dist"

[[redirects]]
  from = "/"
  to = "/.netlify/functions/server"
  status = 200